<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p>
    Essayons de faire un tri. Voici un {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}<span>liste</span> <span>(list)</span>{% endif %} avec les règles spécifiques.
</p>

<p>
    Le {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}<span>liste</span> <span>(list)</span>{% endif %} contient plusieurs nombres. Vous devez la trier, mais par valeur absolue et par ordre croissant.
    Par exemple, la séquence (-20, -5, 10, 15) sera triée comme suit: (-5, 10, 15, -20).
    Votre fonction doit renvoyer le trié {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}<span>la liste</span> <span>(list)</span> ou le <span>tuple</span>{% endif %}.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}abs-sort.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
   <strong>Entrée:</strong> {% if is_js %}Un <span>tableau</span> <span>(array)</span> de <span>nombres</span> <span>(numbers)</span>{% else %} Une <span>liste</span> <span>(list)</span> d'<span>entiers</span> <span>(integers)</span>{% endif %}.
</p>

<p>
   <strong>Sortie:</strong> {% if is_js %}<span>Tableau</span> trié <span>(array)</span> de <span>nombres</span> <span>(numbers)</span>{% else %}<span>Liste</span> <span>(list)</span> ou <span>tuple</span> d'<span>entiers</span> <span>(integers)</span>{% endif %}.
</p>


<p>
   <strong>Addition:</strong> Les résultats de votre fonction seront affichés sous la forme {% if is_js %}d'un <span>tableau</span> <span>(array)</span>{% else %} d'une <span>liste</span> <span>(list)</span>{% endif %} dans le panneau d'explication des tests.
</p>


<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Comment l'utiliser:</strong>
    Le tri fait partie de nombreuses tâches, il est donc utile de savoir comment l'utiliser.
</p>

<p>
   <strong>Conditions préalables:</strong>
    len(set(abs(x) for x in array)) == len(array)<br>
    0 &lt; len(array) &lt; 100<br>
    all(isinstance(x, int) for x in array)<br>
    all(-100 &lt; x &lt; 100 pour x dans le tableau)<br>
</p>
