<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p>
    Let's try some sorting. Here is sequence with the specific rules.
</p>

<p>
    The sequence has various numbers. You should sort it, but sort it by absolute value in ascending order. For example, the sequence (-20, -5, 10, 15) will be sorted like so: (-5, 10, 15, -20). Your function should return the sorted {% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span> or <span translate="repeat">tuple</span>{% endif %}.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}abs-sort.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
    <strong>Input:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> of integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
    <strong>Output:</strong> Sorted <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> of integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>


<p>
    <strong>Addition:</strong> The results of your function will be shown as <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> in the tests explanation panel.
</p>


<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>How it is used:</strong>
    Sorting is a part of many tasks, so it will be useful to know how to use it.
</p>

<p>
    <strong>Preconditions:</strong>
    len(set(abs(x) for x in array)) == len(array)<br>
    0 &lt; len(array) &lt; 100<br>
    all(isinstance(x, int) for x in array)<br>
    all(-100 &lt; x &lt; 100 for x in array)<br>
</p>
