<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p>
    Lassen Sie uns eine Sortierung ausprobieren. Hier ist eine Sequenz mit den spezifischen Regeln.
</p>

<p>
    Die Sequenz enthält verschiedene Zahlen. Sie sollten sie sortieren, aber nach dem absoluten Wert in aufsteigender Reihenfolge. Zum Beispiel wird die Folge (-20, -5, 10, 15) so sortiert: (-5, 10, 15, -20). Ihre Funktion sollte das sortierte {% if is_js %}Array <span>(array)</span>{% else %} Liste <span>(list)</span> oder Tupel <span>(tuple)</span>{% endif %} zurückgeben.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}abs-sort1.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
   <strong>Eingabe:</strong> {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> von ganzen Zahlen <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Sortiertes {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> von ganzen Zahlen <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>


<p>
   <strong>Addition:</strong> Die Ergebnisse Ihrer Funktion werden als {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> in der Erklärungstafel der Tests angezeigt.
</p>


<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Wie es verwendet wird:</strong>
    Das Sortieren ist Teil vieler Aufgaben, daher ist es nützlich zu wissen, wie man es verwendet.
</p>

<p>
   <strong>Vorbedingungen:</strong>
    len(set(abs(x) for x in array)) == len(array)<br>
    0 &lt; len(array) &lt; 100<br>
    all(isinstance(x, int) für x in array)<br>
    all(-100 &lt; x &lt; 100 für x in array)<br>
</p>
